<div class='span7 offset1 projects_title'>
  <h1>Things I've worked on recently</h1>
  <h3>Projects</h3>
  <ul class='unstyled projects_list'>
    <%= render @projects %>
  </ul>
  <h3>Cool code samples</h3>
  <ul class='unstyled code_samples_list'>
    <%= render @code_samples %>
  </ul>
  <h3>Academic Work</h3>
  <%= link_to 'Statistically predicting the outcome of March Madness basketball games', '/wright_thesis.pdf', class: 'lead', target: 'blank' %>
</div>