<div class='span7 offset1 projects_title'><h1>My projects</h1>

<ul class='unstyled projects_list'>
  <% @projects.each do |project| %>
    <li class='lead'>
      <%= link_to project.name, project_path(project) %>
    </li>
  <% end %>
</ul>
</div>